*{
  text-decoration: none;
}

article.card {
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card img {
  height: 150px;
  width: 250px;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.card h5 {
  background: white;
  margin-bottom: 0;
}

.card p {
  background: white;
  margin-top: 0;
  display: inline-block;
}
