.restaurants-list{
    width: 90%;
    margin: auto;
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    
}

.link-card{
    text-decoration: none;
    color: black;
}