.details {
  width: 90%;
  margin: auto;
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  background: white;
}

.details img{
  width: 60%;
  height: auto;
  object-fit: contain;
  border-radius: 30px;
}

.details button {
  font-size: 1em;
  background: #6b909e;
  color: #fff;
  border-radius: 25px;
  margin-top: 20px;
  border: #6b909e;
  padding: 5px 15px;
  cursor: pointer;
}

.details button:hover {
  background: #245263;
}
.details h2 {
  background: white;
}

.details p {
  background: white;
  margin-left: 30px;
  margin-right: 30px;
}

.details h4 {
  background: white;
  margin: 1%;
}

.details__menu-list {
  background: white;
  list-style: none;
  padding-left: 0;
  margin: 0%;
}

.details__menu-list li {
  background-color: rgb(238, 238, 238);
  list-style-type: none;
  width: 26em;
  height: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 1%;
  vertical-align: middle;
}
